<div class="m-background"></div>

<div class="m-content">
  <button class="close close-modal">&times;</button>
  <form>
    <div class="form-group">
      <label for="tweet-body"></label>
      <input
        id="tweet-body"
        class="form-control"
        placeholder="Compose Tweet"
        type="text"
        name="tweet[body]"
        value=""
      >
    </div>

    <input type="submit" class="btn btn-primary" name="name" value="Create">
  </form>
</div>
